{% extends 'base.html' %}

{% block content %}

<h1>{{ commit[:7] }}</h1>
<table class="table">
    <tbody>
    {% for pos in dr %}
    <tr class="table-secondary">
        <td><a {% if not pos[1]
               %}href="/{{ nickname }}/repositories/{{ repository }}/{{ branch }}/{{ commit }}?folders={{ folders }}{{ pos[0] }}"
               {% endif %}>{{ pos[0] }}</a></td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<button onclick="document.getElementById('fileInput').click();">Загрузить новый файл</button>
<input type="file" id="fileInput" hidden onchange="handleFiles(this.files)">
<a href="/{{ nickname }}/repositories/{{ repository }}/{{ branch }}/create_commit">Совершить коммит</a>
<script>
    function handleFiles(files) {
        for (const file of files) {
            let xhr = new XMLHttpRequest();
            let formData = new FormData();
            formData.append("name", file.name);
            console.log(file);
            let reader = new FileReader();
            reader.readAsText(file);
            reader.onload = function() {
                formData.append("file", reader.result);
                xhr.open("POST", "/{{ nickname }}/repositories/{{ repository }}/{{ branch }}/{{ commit }}{% if folders %}?folders={{ folders }}{% endif %}", true);
                xhr.send(formData);
            };
        }
    }
</script>
{% endblock %}
