{% extends 'base.html' %}

{% block content %}

{% if current_user.is_authenticated %}
    <p>{{ current_user.nickname }}</p>
    <p>{{ current_user.email }}</p>
    <a href="/{{ current_user.nickname }}/repositories">Репозитории</a>
{% else %}
    <p>{{ user }}</p>
    <a href="/{{ user }}/repositories">Репозитории</a>
{% endif %}
<h1>Опубликованные аудиозаписи</h1>
<table class="table">
    <thead>
    <tr class="table-secondary">
        <th>Название</th>
        <th>Аудиофайл</th>
        <th>Автор</th>
        <th>Дата публикации</th>
        <th>Оценки:</th>
    </tr>
    </thead>
    <tbody>
    {% for file in files %}
    <tr class="table-secondary">
        <td>{{ file.title }}</td>
        <td>
            <audio src="{{ file.path_to_file }}" controls></audio>
        </td>
        <td>{{ file.author }}</td>
        <td>{{ file.date_time }}</td>
        <td>
            <button class="like" data-id="{{ file.id }}"
                    {% if not current_user.is_authenticated %} disabled {% endif %}>like {{ file.likes|length }}
            </button>
            <button class="dislike" data-id="{{ file.id }}"
                    {% if not current_user.is_authenticated %} disabled {% endif %}>dislike {{ file.dislikes|length }}
            </button>
            {% if current_user.is_authenticated and current_user.id == file.posted %}
            <div>
                <a href="/audio_delete/{{ file.id }}" class="btn btn-danger">
                    Delete
                </a>
            </div>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

<script>
    const likeBtn = document.querySelectorAll(".like");
    likeBtn.forEach((btn) => {
        btn.addEventListener("click", (e) => {
        let xhr = new XMLHttpRequest();
        let formData = new FormData();
        formData.append("id", btn.dataset.id);
        xhr.open("POST", "/like");
        xhr.send(formData);
        xhr.onload = function() {
        if (JSON.parse(xhr.response).response == "created") {
            btn.textContent = `like ${(parseInt(btn.textContent.split(" ")[1]) + 1)}`;
        } else {
            btn.textContent = `like ${(parseInt(btn.textContent.split(" ")[1]) - 1)}`;
        }};
    })});
    const dislikeBtn = document.querySelectorAll(".dislike");
    dislikeBtn.forEach((btn) => {
        btn.addEventListener("click", (e) => {
        let xhr = new XMLHttpRequest();
        let formData = new FormData();
        formData.append("id", btn.dataset.id);
        xhr.open("POST", "/dislike");
        xhr.send(formData);
        xhr.onload = function() {
        console.log(JSON.parse(xhr.response).response);
        if (JSON.parse(xhr.response).response == "created") {
            btn.textContent = `dislike ${(parseInt(btn.textContent.split(" ")[1]) + 1)}`;
        } else {
            btn.textContent = `dislike ${(parseInt(btn.textContent.split(" ")[1]) - 1)}`;
        }};
    })});
</script>
{% endblock %}