{% extends 'base.html' %}

{% block content %}

{% if current_user.is_authenticated %}
    <p>{{ current_user.nickname }}</p>
    <p>{{ current_user.email }}</p>
{% else %}
    <p>{{ user }}</p>
{% endif %}
<h1>Опубликованные аудиозаписи</h1>
<table class="table">
    <thead>
    <tr class="table-secondary">
        <th>Название</th>
        <th>Аудиофайл</th>
        <th>Автор</th>
        <th>Дата публикации</th>
        <th>Оценки:</th>
    </tr>
    </thead>
    <tbody>
    {% for file in files %}
    <tr class="table-secondary">
        <td>{{ file.title }}</td>
        <td>
            <audio src="{{ file.path_to_file }}" controls></audio>
        </td>
        <td>{{ file.author }}</td>
        <td>{{ file.date_time }}</td>
        <td>
            <button id="like">like</button>
            <label for="like">{{ file.likes }}</label>
            <button id="dislike">dislike</button>
            <label for="dislike">{{ file.dislikes }}</label>
            {% if current_user.is_authenticated and current_user.id == file.posted %}
            <div>
                <a href="/audio_delete/{{ file.id }}" class="btn btn-danger">
                    Delete
                </a>
            </div>
            {% endif %}
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}